.help_bg{
    /* background-color: pink; */
    background-image: url('https://t3.ftcdn.net/jpg/03/91/29/16/360_F_391291636_eIWPrRHskx9S3OuJfuzCna5l5CkIQAxu.jpg');
    height: 272px;
    background-size: cover;
}

.searchbar{
    height: 300px;
    text-align: center;
    padding-top: 60px;
}

.search{
    width: 30%;
    height: 33px;
    border-radius: 15px;
    border: 2px pink;

}


.search_font{
    position: relative;
    right: 30px;
    top: 1px;
}

.grid{
    display: grid;
    grid-template-columns: 20% 22% 20%;    
    column-gap: 20px;
    text-align: center;
    justify-content: space-evenly;
}

.grid1{
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.grid2{
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.grid3{
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.grid4{
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.container{
    padding: 10px;
}


.ContactBtn button{
    width: 8%;
    height: 29px;
    border-color: #e398af;
    background-color: #e0a8c3;
}

.help_container{
    text-align: center;
}
