body{
    margin: 0;
}

.nav{
    background-color:  #E34098;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > img{
    width: 60px;
    height: 40px;
    margin-left: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.nav a{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .25rem;
}
.site-title{
    font-size: 2rem;
}

.nav-list a:hover{
    background-color: rgb(247, 202, 221);
    color:rgb(233, 108, 108);
    border-radius: 10px;
}

.site-title{
    width: 90px;
    height: 80px;
    border-radius: 7%;
    padding: 0;
}
